.App {
  background-color: #f0f2f5;
  min-height: 100vh;
}
.createpostdiv {
  background-color: #f0f2f5;
}
.createpostdiv:hover {
  background-color: #dcdfe2;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
