.App {
  background-color: #f0f2f5;
  min-height: 100vh;
}
.createpostdiv {
  background-color: #f0f2f5;
}
.createpostdiv:hover {
  background-color: #dcdfe2;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.dpm {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}
.dpm-header {
  font-weight: 700;
}

.dpm-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.7rem;
}
